div{
    margin: 100px auto;
    width: 250px;
    height: 150px;
    background:  url(W3C.jpg) no-repeat center ;
    background-size: 40%;
    box-shadow: blue 35px 35px 15px, red -35px -35px 15px, inset green 40px 40px 15px, inset  black -40px -40px 15px ;
}