
div{
    background-color: red;
    height: 100px;
    width: 100px;

}
p{
    background-color: blue;
    width: 50%;
    height: 50%;
}
p:first-child{
    margin-left: 50%;
    margin-bottom: 0;
}
p:nth-child(2){
    margin: 0;
}